node_modules/**/*
node_modules/
node_modules
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist

# macOS
.DS_Store


# bit components

# react compiler
components/compilers/
components/compilers


# configurationFiles
baseAxios.ts
package.json
app.json