node_modules/**/*
node_modules/
node_modules
public
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
dist
.env

# macOS
.DS_Store


# bit components

# react compiler
components/compilers/
components/compilers


# configurationFiles